*body{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    padding: 16px;
    justify-content: space-between;

}
.item{
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;

}

.all{
    display: flex;
    
    gap: 20px;
}
.container1{
    width: 100%;
    padding: 1px;
    justify-content: space-between;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 12px;


}
.c17{
    position: absolute;
    margin-top: 0px;
    margin-left: 42px;

}
.container2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
}
.container3{
    position: relative;
}
.log1
{
    position:absolute;
    top: 50%;
    left: 35%;
    font-size:60px;
}
.bor{
    width: 20%;
    position: absolute;
    top: 60%;
    left: 42%;
}
.log2{
    position: absolute;
    top: 64%;
    left: 45%;
    font-size: 25px;
    color: white;
}
.log3{
    position:absolute;
    font-size: 20px;
    color: white;
    top: 63%;
    left: 48%;
}
.log4{
    position: absolute;
    top: 0;
    color: white;
    font-size: 30px;
    left: 30px;
    padding: 15px;
}
.log5{
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: 0;
    padding: 20px;
    left: 0px;
}


